/.vs/CanvasQueueProcessor/v15/*.suo
/.vs/CanvasQueueProcessor/v15/Server/sqlite3/*.lock
/.vs/CanvasQueueProcessor/v15/Server/sqlite3/*.ide
/.vs/CanvasQueueProcessor/v15/Server/sqlite3/*.ide-shm
/.vs/CanvasQueueProcessor/v15/Server/sqlite3/*.ide-wal
/CanvasQueueProcessor/bin/Debug/*.dll
/CanvasQueueProcessor/bin/Debug/*.xml
/CanvasQueueProcessor/obj/Debug/TempPE/*.dll
/CanvasQueueProcessor/obj/Debug/edmxResourcesToEmbed/Data/*.csdl
/CanvasQueueProcessor/obj/Debug/edmxResourcesToEmbed/Data/*.msl
/CanvasQueueProcessor/obj/Debug/edmxResourcesToEmbed/Data/*.ssdl
/packages/EntityFramework.6.1.3/Content/*.transform
/packages/EntityFramework.6.1.3/*.nupkg
/packages/EntityFramework.6.1.3/lib/net40/*.dll
/packages/EntityFramework.6.1.3/lib/net40/*.xml
/packages/EntityFramework.6.1.3/lib/net45/*.dll
/packages/EntityFramework.6.1.3/lib/net45/*.xml
/packages/EntityFramework.6.1.3/tools/*.dll
/packages/EntityFramework.6.1.3/tools/*.psd1
/packages/EntityFramework.6.1.3/tools/*.psm1
/packages/EntityFramework.6.1.3/tools/*.txt
/packages/EntityFramework.6.1.3/tools/*.ps1
/packages/EntityFramework.6.1.3/tools/*.exe
/packages/Newtonsoft.Json.11.0.2/*.md
/packages/Newtonsoft.Json.11.0.2/*.nupkg
/packages/Newtonsoft.Json.11.0.2/lib/net20/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/net20/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/net35/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/net35/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/net40/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/net40/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/net45/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/net45/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/*.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/*.dll
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/*.xml
