<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hostName" value="mq.qailumno.com" />
    <add key="port" value="5672" />
    <add key="virtualhost" value="/kennedy" />
    <add key="queueName" value="ilumno.lms.grades" />
    <add key="userName" value="svckennedy" />
    <add key="password" value="oH7RfqY1" />
    <add key="fileToGenerate" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="dev_UniEntities" connectionString="metadata=res://*/Data.UniModel.csdl|res://*/Data.UniModel.ssdl|res://*/Data.UniModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SVRSQL01;initial catalog=dev_uni;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>