<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostName" value=""/>
    <add key="port" value="5672"/>
    <add key="virtualhost" value="/"/>
    <add key="queueName" value="ilumno.lms.grades"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="fileToGenerate" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>